<div class="container">
	<h3 class="user_title">新會員註冊</h3><hr>
	<p class="text-warning" style="font-size:15px;"><span style="color:red">*</span>&nbsp;為必填</p>
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form form-horizontal'} ) do |f| %>

		<%= f.input :username, label:'姓名&nbsp;<span style="color:red">*</span>',
		  :error => true, input_html: { id: 'name' }, placeholder: "請輸入真實姓名。"%>

		<%= f.input :cname, label:'帳號&nbsp;<span style="color:red">*</span>',
		  placeholder: "限英文和數字。" %>


		<%= f.input :password, label:'請輸入密碼&nbsp;<span style="color:red">*</span>', hint: false %>

		<%= f.input :password_confirmation, label:'請再次輸入密碼&nbsp;<span style="color:red">*</span>',
		  hint: false%>

		<%= f.input :nid, label: '身份證字號&nbsp;<span style="color:red">*</span>',
		  placeholder: "贏家得標時需身分證核對來領取商品。" %>

		<%= f.input :email, label:'電子郵件&nbsp;<span style="color:red">*</span>',
		  placeholder: 'user@domain.com'%>

		<%= f.input :address, label: '地址&nbsp;<span style="color:red">*</span>',
		  placeholder: "贏家得標時需地址核對寄送商品。" %>

		<%= f.input :phone, label:'手機&nbsp;<span style="color:red">*</span>',
		  placeholder: "您將在10分鐘內收到手機認證簡訊通知" %>

		<%= f.input :birthday, label:'生日&nbsp;<span style="color:red">*</span>', start_year: 1900,
		  end_year: Time.now.year, input_html: { class: 'span2' }  %>

			<hr>
			<h4>服務條款</h4>
			<div class="controls">
				<textarea id="terms" class="span9" rows="10" readonly="true">

一般條款 / 概要
下列之服務條款 (下稱服務條款) 適用於比得網路有限公司 (下稱 BID & BUY 網域「www.bidandbuy.com.tw」之提供者) 以及使用者 (下稱「您」或「您的」) 雙方之間。當您使用本服務時，即表示您同意接受本服務條款之所有內容，包括 BID & BUY 的運作方式。這些約定條款代表 BID & BUY 與您之間全部協議內容，並會取消或取代任何先前您與 BID & BUY 之間有關本服務所為之任何義務、保證或代理。
BID & BUY 所提供的資訊，例如“客服專區”，僅屬推薦建議並非使用法則或是規範。BID & BUY 將不對已閱讀、已被告知此資訊或以其他書面資料告知之使用者或其他個體之行為負任何責任。
BID & BUY 將遵守各國競標套餐、商品以及服務銷售之稅務法規
BID & BUY 有權於任何時間變更本約定書之內容而不做任何個別的告知，因此建議您於每次的拜訪注意該等變更。您也應該列印最新的服務條款做為您的個人紀錄。


服務條款之接受
當接受本服務條款或是完成 BID & BUY 之註冊手續，即表示您擁有使用 BID & BUY 服務之資格 (詳情請參考「資格說明」)。如果您不同意服務條款的內容，應立即停止使用本服務。點選接受或同意本選項或當您存取、使用或是下載 BID & BUY 之任何服務，即表示您同意接受並須遵守服務條款之所有內容。
使用本網路僅供娛樂用途，BID & BUY 旨在提供使用者獨特的娛樂購物服務。


使用資格
當接受本服務條款或是完成 BID & BUY 之註冊手續，即表示您確認您依中華民國法令規定，已達法定年齡或取得法定代理人同意，，據此有資格成立相關具有拘束力之協議。一經使用 BID & BUY 之服務，您擔保您已有權利、權限和能力接受此協議並遵守所有約定條款。若您存取、使用或是下載 BID & BUY 之任何服務，即表示您同意接受並須遵守服務條款之所有內容。
您必須居住在中華民國境內。
BID & BUY 員工以及他們的近親 (指父母、配偶、兄弟姊妹和孩子等人)、任何與員工同居的個人或是其他 BID & BUY 投資者以及他們的近親(定義同上)，在任何情況下皆不得參與 BID & BUY 所舉辦之競賣。
BID & BUY 商品以及服務僅提供給私人用戶所使用，而非商業、半商業零售業者以及其他透過轉手買賣本商品和服務以尋求獲利者。BID & BUY 有權撤消商業、半商業零售業者之競標權利。BID & BUY 甚至有權暫停任何 BID & BUY 認定與商業、半商業零售業者有牽連之使用者帳號。
BID & BUY 有權限制每家戶所能申請使用者帳號之數目以及每個帳號所能贏得競標之次數。BID & BUY 不允許同一張信用卡被數個使用者帳號所共同使用。BID & BUY 限定每個自然人或是家戶僅能申請一個使用者帳號 (例外情形有可能發生，若有任何疑問請與我們聯繫)。除了紅利點數競標，BID & BUY 限制每個使用者帳號 20 天期間內所能贏得的競標總數最多為 8 次。BID & BUY 也限制每個使用者帳號 20 天期間內所能贏得「限量」物品數量為 3 件，這限制包含以上 8 次的限制。此外，一個使用者帳號 20 天期間內僅能贏得 4 次紅利點數競標。


您也同意以下事項：
•	您承諾使用 BID & BUY 服務 (下稱本服務) 之目的係符合 (a) 服務條款及 (b) 任何應適用之法規、規章或相關管轄法院所承認之一般慣例或原則(包括輸出資訊、軟體至中華民國或其他相關國家或從中華民國或其他相關國家輸出資訊、軟體之相關法規)。您同意不張貼以下內容 (i) 剽竊、違反或侵犯第三人之權利，包括營業秘密、著作權、商標權、商品或服務表徵、隱私權、專利權、道德權利、人格權、肖像權以及其他人格或財產上之權利，或 (ii) 含有任何不法、侵權、威脅性、攻擊性、不雅、妨害名譽、不實、誤導、誹謗、色情、猥褻、侵犯專利、不適當、挑釁、騷擾性或是其他不合宜或未成年人不宜之內容
•	您也同意不從事任何規避、干擾或中斷本服務 (或連結本服務之伺服器及網路) 之行為，或任何本服務的使用者經驗，包括但不限於：
•	使用任何第三方未授權之競標軟體；
•	不透過 BID & BUY 提供之介面而連結使用本服務 (例如：不得使用網頁指令或網路爬蟲程式 「web crawlers」）；
•	操控我們的費用架構、收費流程、紅利點數架構、下標、競標或積欠 BID & BUY 之款項
•	濫發廣告郵件、垃圾郵件、大量電子郵件、連鎖信、違法之多層次傳銷訊息等；或
•	未經使用者同意而蒐集使用者資訊，包含電子郵件地址。


註冊
您僅能註冊一次並須提供您所居住之中華民國郵寄地址 (郵政信箱或是類似的收件方式並不被許可) 以及一組有效的行動電話號碼。您同意僅使用一個帳號。此外，註冊時所提供之資訊必須正確無誤。您不能與其他使用者共謀為資訊的交換。您所註冊之使用者名稱不得含挑釁、猥褻、蔑視等內容之文字、或是企圖誤導、欺騙其他 BID & BUY 使用者。您的使用者名稱不得為其他網站、服務廣告，或侵害任何第三人之智慧財產權。
若 BID & BUY 收到關於您的使用者名稱違法或 BID & BUY 違反服務條款之訊息，經 BID & BUY 單方面審酌後認屬實後， BID & BUY 有權暫停您的帳號，直到您更改使用者帳號名稱為止，或 BID & BUY 得以違反服務條款為由，未事先告知您而永久關閉您的帳號。
您有義務維持使用者密碼之機密。BID & BUY 除了登入帳號之外，BID & BUY 絕不會向您詢問使用者密碼，而該組密碼也絕不能提供給他人，包括 BID & BUY 員工。使用者帳號係不可轉讓。您同意您的使用者帳號僅供您本人使用。若有帳號濫用之情形發生，不論是危害到第三方或是損害到 BID & BUY ，將導致使用者服務之終止以及告發犯罪行為。一般而言，您同意就利用該帳號及密碼所進行的一切挑釁或是違法行為，負完全的法律責任。


推薦
您可以依照 BID & BUY 網站所提供之方式推薦給朋友。當任何使用者推薦之新人有購買點數套餐，BID & BUY 將提供免費紅利點數的回饋。BID & BUY 就可能的詐騙行為保留審查的權利。您不能推薦居住在同一個屋簷下的家庭成員。若濫用推薦制度，將會扣除所詐取的紅利點數以及/或終止使用者帳號。


帳號終止
由您終止帳號： BID & BUY 您有權於任何時間終止您的帳號，但須以電子郵件之書面通知寄送至support@bidandbuy.com.tw方生效。
由 BID & BUY 終止帳號：若 BID & BUY 認定您違反服務條款、法令、或是侵害其他使用者或第三人之權利，BID & BUY 有權單方面暫停或是永久終止您的帳號。未授權使用之情形包括但不限於：使用未授權之第三方下標或追蹤下標軟體、同一名使用者申請多個使用者帳號 (「違反多個帳號使用條款」)，或是 BID & BUY 懷疑該帳號從事詐欺活動或行為。您同意 BID & BUY 根據誠信原則 BID & BUY 以及單方面認定您違反服務條款時，BID & BUY 可以暫停、取消、保留任何即將配送給您的物件及/或競標退款。
下標 / 實際點數購買 / 實際點數 / 紅利點數 / 自動下標 / 競標流程


競標流程
下標的方式有兩種：(1) 手動點選 「下標 BID」按鍵或 (2) 使用自動下標。自動下標是個自動化功能，讓您即使不在線上或是沒有登入的情況下也能下標。自動下標根據您的指示自動下標。自動下標之操作詳情請參考我們的FAQ部份。
我們並不表示或保證您下的標 BID & BUY 會及時被收受，而您瞭解我們對於您下標有無收受，係根據數個因素來決定，其中一些為我們無法操控，包括您的網路連線狀況、您所用來連結我們網站的裝備以及其他科技或通訊的相關因素。你的下標如 BID & BUY 未收到、遲延或遭 BID & BUY 拒絕，您同意就因此交易所衍生或相關之一切請求、訴訟原因、費用、成本、損失， BID & BUY 均無須負任何責任。
結標時間會隨之每次下標增加，而根據每場競標的規則，您每一次下標便會從您的帳號裡扣除一到十點的點數。當 BID & BUY 伺服器上的剩餘時間歸零時，即競標結束。得標者則為當 BID & BUY 伺服器上的剩餘時間歸零時，資料庫所紀錄之最後下標者。
BID & BUY 有權於任何時間增加、重新安排時間、移除商品，且無須告知。當該競標物品之剩餘時間「結束」時，且無其他使用者下標，即競標結束。提醒您應注意所提供的剩餘時間僅是近似值，可能會受到網絡連線的影響而有所延誤。一個競標的結束將由 BID & BUY 伺服器上的剩餘時間判定。
BID &BUY 有權單方面限制某些競標為「VIP」競標，以提升會員的競標經驗。「VIP」競標場次是專門提供給相同實力的會員競標。會員實力包括但不限於您的經驗、歷史得標記錄、地理位置、歷史下標記錄、歷史購買點數記錄。BID & BUY 有權單方面認定會員的實力。尤其是 BID & BUY 會限制「VIP」競標給實力比較差的會員。您註冊時即代表您同意 BID & BUY 可隨時限制您參與「VIP」競標的資格。
為了所有會員競標的權益以及提供最公平競標的環境，BID & BUY 有權單方面隨時限制任何會員參加競標的資格。


購買實際點數
實際點數 (下稱點數) 可事先以點數套餐的方式購買。購買點數七 (7) 日後恕無償還。若您未遵循付款制度付款，您必須額外支付一筆退款費用。BID & BUY 有權暫停帳號之使用，直到完成付款手續付清發票所載金額，且包括任何退款費用之支付，以及扣留任何未寄送之物品。實際點數無有效期限。實際點數是個有限的下標許可並且是沒有貨幣價值。實際點數是不能兌換成現金。當利用實際點數進行下標時，便會從使用者的競標帳號扣除，不論是否得標，恕無償還。每次所使用的實際點數為每次下標之服務費。
未使用的實際點數在七天內可以退還，但須先於購買點數後七 (7) 日內以電子郵件告知 BID & BUY。退還的實際點數會扣除您所用掉的紅利點數 (購買點數套餐時所贈送)。您申請的每一筆退款 BID & BUY 將收取新台幣壹佰伍拾元的處理費。


紅利點數
紅利點數為無實際價值的免費點數，恕無法折抵立即購買區的商品。紅利點數為購買點數套餐所附贈的點數或是促銷時的回饋。紅利點數有效期間為自獲得紅利點數當日起計算 60天內有效。不定時會提供免費的紅利點數 (例如：以優惠卷的方式贈予)。利用紅利點數進行下標時，點數會從使用者帳號扣除，不論是否得標，恕無償還。當使用者帳號裡有紅利點數可使用時，絕對會優先使用。


得標之機率
每個競標皆獨一無二，所有 BID & BUY 競標結果取決於參與競標之使用者數目以及參與者之競標技巧；因此無法提供精準的得標機率。


接受得標 / 付款
當得標物品無法出貨時，BID & BUY 保有退還得標者全部的點數或是以另一個等值或價值更高的物品取代原物品之權利。


競標
當競標結束時，您須主動確認並支付得標物品的全部費用，包含得標相關出貨和處理費用。一旦選擇付款方式，您即得標。若競標結束後兩 (2) 日內未進行選擇付款方式的動作，BID & BUY 有權撤回所提供之合約以及永久撤銷得標者支付費用以取得得標物品之權利。除非個別拍賣頁面上另有標示，所有競標點數將失效並無法退還。選擇付款方式後，須於五 (5) 日內完成付款手續，除非選擇付款方式為貨到付款，即貨到才付款。若五 (5) 日內未完成付款手續，BID & BUY 有權撤回所提供之合約以及永久撤銷得標者支付費用以取得得標物品之權利。再確認得標之後及完成所有付款事宜後，得標者會收到一封電子郵件確認信。在付清全部費用之前，BID & BUY 不會出貨給您。隨商品將附上一張含有結標金額以及出貨費用之收據供您查收。如沒隨商品附上收據，BID & BUY 將另外使用郵件寄送。
BID & BUY 有權在任何時間要求您提供身分證或任何政府機關所發的證件來核對您所提供的資料。如果您不配合核對的程序，您同意 BID & BUY 有權可以暫停、取消、保留任何即將配送給您的物件及/或競標退款。您並且同意 BID & BUY 有權將您的帳號暫時停權或永久終止您的帳號。
您同意如您是商品競標的得標者您必須上傳贏家感言才能得取商品，此機制是為了證明競標的公信力。如不配合上傳，您同意 BID & BUY 有權可以暫停、取消、保留任何即將配送給您的物件及/或競標退款。立即購買
在競標期間以及結束後，該競標的所有參與者將有機會透過「立即購買」方式購買競標商品。並不是每次的競標皆有提供「立即購買」的選項 (例如：限量競標則無提供此選擇)。「立即購買」即可以折扣的方式購得競標物品，折扣的計算方式可以是在有限的範圍內，以您已下標所使用的實際點數計算。此選項於競標結束後 48 小時 (2) 日內失效。


統一發票
您有權開立紙本統一發票或電子式統一發票或將您的發票捐贈。若選擇不開立統一發票，BID & BUY 將所有發票捐贈至所選擇的慈善機構。您如果選擇紙本統一發票而沒填寫您正確及完整的地址，即等同捐贈，BID & BUY 於紙本統一發票退回後，將自動幫您捐贈。


促銷
透過 BID & BUY 宣布或是其電子郵件簡報所發佈之 BID & BUY 特別促銷訊息，方為有效。某些促銷活動的時間有限，詳情請參閱 BID & BUY 或是其電子郵件簡報。一但所公佈的促銷活動截止，或是相關競標結束時，該促銷活動即結束。
BID & BUY 有權片面保有向您告知其他競標活動之權利。


退貨 / 取消訂單
BID & BUY 允許得標者取消訂單或是退貨的權利，然而一些例外可能發生 (例如：您已拆封的影音錄象、電腦軟體)。這項權利始自於您收到商品的日期。若取消的訂單符合規定，您可退還已支付的結標金額全額。競標點數不符合退還規定。退貨權利於得標者收受物品後7日內有效。
部分商品例外不得退貨。若確實有此例外情況，則會載明於個別拍賣網頁之產品說明部分。排除項目包括實際點數、優惠券、紅利點數。
若您希望取消訂單或是退貨，須先於上述期限內以電子郵件告知 BID & BUY。此封告知信須於收到物品七 (7) 日內發出。將不接受透過電話進行取消訂單之行為。請回到 BID & BUY 之「客服專區」以獲取聯絡資訊。
為完成取消訂單或是退貨手續，所退還之商品須為全新狀態。退貨的出貨費用將由您支付。若無法完成服務和物品之退貨手續，或僅退還部份商品，或退還時商品呈現受損狀態，BID & BUY 一概不接受。物品須保持原物品包裝。
若得標物品無法出貨時，BID & BUY  有權以另一個由您和 BID & BUY 所認同為等值的商品取代原物品，或是全額償還已支付的結標金額、立即購買款項和該競標的所有下標點數。


物品寄送
服務範圍僅限於台灣本島以及鄰近諸島。若提供之地址為離島地區，可能有較多的限制或產生較高的郵資費用。除非有特別標示，物品將直接由我們的供應商或倉庫寄送至您所提供的郵寄地址。寄送時間不定；所提供的送貨時間僅供參考。 BID & BUY  於不須告知買方的情況下，有權使第三人履行合約義務。在寄送過程中或因包裝所造成物品之嚴重損害，應於收受時及時告知 BID & BUY 。
部分特殊商品無法透過物流運送，會特別在商品簡介中標示。您同意這些特別標示的商品需要得標者本人憑身分證到 BID & BUY 指定的時間及地點索取。


扣繳款項 / 保留物品所有權
您同意於未付清所有款項前，包括出貨費用和競標所使用之點數，物品所有權仍屬 BID & BUY。


使用 BID & BUY 之免責聲明和豁免條款
您同意使用本服務之風險由個人負擔。BID & BUY 或是其任何的主管、董事、投資人、員工、代理商、經紀人、加盟商、贊助商、授權商、零組件供應商 (不論硬體和軟體) 亦或是提供 BID & BUY 所販售商品和服務之第三人或是提供類似服務者，均不保證與 BID & BUY 相關之網站，包括但不限於 BID & BUY ，不受干擾、無誤、免於病毒、蠕蟲問題、木馬程式、鍵盤側錄、間諜軟體、廣告軟體、惡意軟體、有害或是惡意代碼或是其他病毒的侵害。使用本服務及軟體時，須自行承擔相關風險。BID & BUY 所公布之資訊、商品以及服務含有訊息錯誤或是排印錯誤之可能性。BID & BUY 不保證所提供的資訊內容、服務或是商品之使用結果為無錯誤、安全可靠、及時提供。再者，除了 BID & BUY 之官方發言人，任何張貼於 BID & BUY (包含但不限於網站之公共發表區域) 之個人或機構意見、看法、建議、聲明，BID & BUY 皆不須擔保任何責任。廣告商、內容提供者、使用者、訪客、獨立作家、部落客和專家皆非 BID & BUY 授權之代言人。使用者不應仰賴廣告商、內容提供者、使用者、訪客、獨立作家、部落客或專家所提供之意見、看法、建議、聲明等內容以進行重大私人決定，該等內容之正確真偽與可信度應自行斟酌與判斷，BID & BUY 不擔保其為完全正確無誤。
本網站，包括本服務及軟體乃以「依原狀」及「依可得提供之狀態」之基礎提供，您使用本網站時，須自行承擔相關風險。依所應適用的法令，於可允許的最大範圍內，BID & BUY 不提供任何默示的擔保，包含但不限於商品適售性、特定目的之適用性及未侵害他人權利之默示或法令上之保證。
BID & BUY 對本服務不提供任何明示或默示的擔保，包含 BID & BUY 之運作、網站之安全性、使用 BID & BUY 可能產生之結果或網站所提供之商品或服務，包括網站所提供的電子郵件、資訊、內容或商品材料。不限制上述規定之前提下， BID & BUY 不保證：材料準確、安全可靠或是正確無誤；經由本網站購買或取得之任何商品、服務、資訊或其他資料將符合您的期望；本網站於任何時間或地點皆不中斷或安全；任何瑕疵或錯誤皆會被修正；或是內容皆免於病毒或有害程式之侵害。所有透過網站所下載或獲得之服務和軟體皆由您自行斟酌後決定並自負風險，因下載和/安裝該等內容而導致您的電腦系統之損害或是資料之遺失，BID & BUY 不須為此負任何責任。
自本網站或服務取得之建議和資訊，無論其為書面或口頭，均不構成本網站或服務之任何保證。
您明確了解並同意： BID & BUY 不須為任何因使用或不能使用本網站、軟體或是其他相關服務而造成之損害負責，包括但不限於直接、間接、偶然、隨之發生、特別、典型、懲罰性之損害，不論以上損害之請求係基於擔保責任、合約、侵權行為 (包括過失) 或是其他狀況 (甚至即使是在 BID & BUY 已被告知有可能造成損失的情況下)。
本區的責任限制將適用於任何從 BID & BUY 所獲得之資訊，或因錯誤、刪除、中斷、檔案或電子郵件之刪除、錯誤、瑕疵、病毒或是其他惡意代碼、延緩執行或傳輸或是任何執行失敗而衍生之結果，不論是由於不可抗力因素、通訊失敗、偷竊、破壞或是未授權而對提供者之記錄、程式、服務進行存取，且無論 BID & BUY 是否有被告知這些損害的可能性均適用。使用者於此已知悉以上事項適用於 BID & BUY 提供之所有內容、商品以及服務。
以上責任之限制適用於因使用、不當使用或信任 BID & BUY 之服務或自 BID & BUY 購買之物品，以至無法使用自 BID & BUY 購買之服務或是物品，或是因 BID & BUY 服務中斷、暫停或終止所造成之損害 (包括由第三人所受之損害)。
若您對 BID & BUY 及其相關服務有任何的不滿，您應停止使用 BID & BUY 。


BID & BUY 商品購買之免責聲明和豁免條款
收受商品後七 (7) 日，大多數之商品僅有廠商所提供有限保固責任可供主張。 BID & BUY 僅保證於每個競標所販售給您之商品擁有 BID & BUY 標示之規格特性，並不再提供任何其他保固責任。您瞭解並同意我們無法控制或參與保固相關活動，而且所有保固修護或替換之行為須透過相關廠商進行。請注意有些廠商並不遵守競標商品之保固條款。保固期限及服務因廠商和商品而異。完整的保固文件可以寫信向 BID & BUY 索取，BID & BUY 將免費提供，廠商網站也有提供完整文件。任何二手商品之寄送不在保固範圍內。
除了以上述之保固，就 BID & BUY 所提供或任何與 BID & BUY 相關訂單之代理商或分包商所提供之商品 BID & BUY 或相關服務， BID & BUY 對此並無任何明示或默示擔保責任存在，包括但不限於任何商品適售性、特定目的之適用性。
您同意承擔所有責任，BID & BUY 無須因您或其他寄送人員處理不當、修改、不當使用商品所衍生之個人傷害或財產損害負任何擔保責任。在任何情況下，BID & BUY 皆不須為您或其他人員之附帶性或衍生性等間接損害負責，包括但不限於利益或商譽之損害、無法使用之損害或所產生之額外費用等無論是依據合約、侵權行為法、保證或其他事項而為之請求。


系統停電 / 競標暫停
不論內部或外在之影響，若因無法預見或天災等不可抗拒之因素導致系統中斷，使用者將無法下標。在此情況下，競標將會暫停，並記錄競標所剩餘時間、目前出價、以及目前最高出價者。當系統中斷之問題解決後，競標將繼續進行，而原本預期於斷電期間所結束之競標，將延長24小時。於暫停或終止之競標所用之競標點數將會退回您的帳號；然而，因系統停電所造成的損失及額外費用，BID & BUY 無須負責。BID & BUY 有權取消競標，包括但不限於因系統錯誤、機器人出價、員工出價、技術問題或是任何其他合理且無法可預見之原因而取消。
依現有科技，要開發或是操作電腦程式 (軟體) 以及資料處理系統 (硬體)不太可能零錯誤、或是排除無法預期之網路連線問題。BID & BUY 因此無保證網站及/或其他技術系統提供連續無中斷之服務。此外，由競標使用者或第三人使用 BID & BUY 服務所致之任何損害，BID & BUY 不須負任何責任。特別是 BID & BUY 未收到、或未即時收到競標，或不被視為技術錯誤所導致之結果等情形， BID & BUY 皆不負擔任何損害賠償責任。


註冊商標
網站上所有內容，包括文字、圖片、標識、商標、按鈕圖示、圖像、聲音、數位下載、圖表和軟體皆為 BID & BUY 或第三方供應商/授權商所擁有，所有內容並均受中華民國以及國際著作權相關法令之保護。網站上所有內容之選編由 BID & BUY 享有其智慧財產權，並受中華民國以及國際著作權相關法令之保護。本網站所使用的所有軟體為 BID & BUY 或第三方供應商/授權商所擁有，並均受中華民國以及國際著作權法之保護。BID & BUY 保留所有權利。任何出現於 BID & BUY 網站之商標則為各相關廠商所擁有。


購買商品之服務和支援
於 BID & BUY 所購買商品之所有技術服務和支援需求應直接透過廠商的服務條款取得。


準據法 / 可分性條款
您同意本服務條款之契約以及使用 BID & BUY 所生爭議，均應依照中華民國法律予以處理，且排除衝突法則之規定。對本網站所採取的任何相關法律行為或訴訟，將專屬台灣台北地方法院為第一審管轄法院。
上述條款(管轄條款)於當事人於此之法律關係因任何理由終止或撤銷後，仍有其效力。
您應受居住地或您進入 BID & BUY 及使用本服務之地區的法律規範。中華民國以外地區所為行為無效。在法律禁止或限制的地方所為行為無效。若您在法律禁止的地方設立帳號或參與 BID & BUY 之競標，您即因違反法令及服務條款，使用者帳號將永久終止或取消。您同意所適用之法律若限制或禁止您的參與，BID & BUY 不須負擔任何責任。
本協議不適用聯合國國際貨物銷售合同公約。
您對 BID & BUY 之授權
您所提供、傳送、上傳任何訊息、贏家推薦 (影片及照片) 評論、看法、意見回饋、發表文、素材內容或提供予 BID & BUY 網站之任何資料 (下稱使用者內容)，(a) 即表示並保證，您或使用者內容之擁有者以及該等內容均無違反服務條款，並且 (b) 您於此同意授與我們不可撤銷、永久、免授權金、已付清、全球性之授權 (具再授權之權利)，一切內容得以所有語言使用、重製、散布、公開展示、公開演出、衍生、修改、販售或依照我們片面選擇之方式或往後發展之方式以使用所有或部份使用者內容。任何使用者內容皆為非機密性、非專屬性，可供 BID & BUY 基於任何目的散佈或任意使用，包括但不限於發展、創造、製造或行銷商品或服務。


資料保護： 蒐集、處理和使用客戶之私人資訊
一經使用本服務，當事人間即成立契約或準契約關係。您同意我們有權蒐集、處理及／或使用您的個人資料。保護您的個人資料對我們而言相當重要。欲瞭解更多有關蒐集、處理和使用私人資訊之資料，請參考我們的隱私權政策。


外部連結
本網站可能包含可連接至其他獨立的第三方網站之連結功能而這些網站也可能含有其他網路資源之連結。這些連結僅為提供使用者之方便，不表示 BID & BUY 與該等業者有任何關係。我們對於該連結網站之內容，皆一概無須負責。其他業者經營的網站均由各該業者自行負責，不屬 BID & BUY 之控制範圍內。我們無須為第三方網站之內容、保護、隱私權政策，負損害賠償之責任。


完整合約
本服務條款構成您與 BID & BUY 就您使用本服務之完整合意，並取代您先前或現有與 BID & BUY 間有關本服務所為之任何書面或口頭協議或約定。任何 BID & BUY 於服務條款或是隱私權政策相關權利之放棄，僅於 BID & BUY 以書面簽署後有效。
服務條款中文翻譯僅供您參考用。雙方之合約係依英文所載內容成立。中、英文內本如有不符時，應以英文文本為準。


注意事項：
經常或反複地至 BID & BUY 進行線上下標會產生龐大的費用。我們建議所有使用者監控追蹤個人下標行為。請為您的下標行為負責。因此，使用者應注意他們的下標行為並定時地查看費用明細。

				</textarea>
			</div>
<br/>
			<%= f.input :terms_of_service, label:'&nbsp;', inline_label: '同意以上條款', as: :boolean %><br />


			<%= f.button :submit, "註冊", :class => 'btn btn-success btn-block ', :id => 'rebtn' %>
		<% end %>
	</div>






