<div class="well">

<h3 class="user_title">會員登入</h3>
<hr>


  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'} ) do |f| %>
  
    <%= f.input :username, label:'帳號'%>
		
    <%= f.input :password, label:'密碼', hint: false %>
 
<% if devise_mapping.rememberable? -%>

    <%= f.input :remember_me, label:'記得我', :as => :boolean  %> 

  <% end -%>

    <%= f.submit "登入", :class => "btn btn-primary btn-block ", :id => 'loginbtn' %>

<% end %>

<%= link_to "註冊", new_registration_path(resource_name), :class => "log1" %><span>|</span>
<%= link_to "忘記密碼?", new_password_path(resource_name), :class => "log2" %>

</div>


